.background1{
    background-color: rgb(235, 14, 150);
    background-size: cover;
    height:130px;
}
.heading{
    text-align: center;
    color: bisque;
    padding-top: 10px;
    font-size: 75px;
}
.background2{
    background-color: rgb(43, 25, 199);
    background-size:cover;
    height:100vh;
}
.fcard{
    background-color: aqua;
    height:200px;
    padding:10px;
    margin-top: 45px;
    margin-right: 25px;
    border-radius: 25px;
    text-align: center;
    width:220px;
}
.image1{
    height: 100px;
    width: 80px;
    margin-left:55px;
    margin-top: 15px;
}
.button{
    margin-left: 620px;
    margin-top:30px;
    background-color: bisque;
    border-radius: 25px;
}